# Activer le moteur de réécriture
RewriteEngine On
RewriteBase /

# Rediriger toutes les requêtes vers le fichier principal de votre application Node.js
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ app.js [L]

# Définir le type MIME pour les fichiers JavaScript
AddType application/javascript .js

# Autoriser l'accès aux fichiers statiques
<FilesMatch "\.(jpg|jpeg|png|gif|svg|ico|css|js)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>